*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.VisualState.xml
TestResult.xml
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.publishproj
